@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  margin: 0;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.8rem;
  font-style: normal;  
  text-shadow: 0 0 4px #000;
}

canvas {
  background: #000;
  border: 2px solid white;
}

#gameContainer {
  position: relative;
  display: inline-block;
}
.hidden {
  display: none !important;
}

#mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.game-title {
  font-size: 2rem;
  color: #00d4ff;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
  text-shadow: 4px 4px #e056fd;
  animation: titleFloat 2s infinite ease-in-out;
}

@keyframes titleFloat {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}

.menu-buttons button {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Press Start 2P", system-ui;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.menu-buttons button:hover {
  background: white;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 0 15px white;
}

.credits {
  margin-top: 5px;
  font-size: 0.5rem;
  color: #666;
}

.controls {
  margin-top: 10px;
}

.control-btn {
  padding: 10px 20px;
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px 5px;
  -webkit-user-select: none;
  user-select: none;
}

#scoreBoard {
  position: absolute;
  top: -30px;
  right: 10px;
  margin: 8px;
}

#livesBoard {
  position: absolute;
  top: -30px;
  left: 10px;
  display: flex;
  gap: 5px;
  margin: 8px;
  align-items: center;
}

.heart-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.damage-flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.4);
  pointer-events: none;
  z-index: 10;
  display: none;
}

@keyframes flash-animation {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

/* Shake Animation */
@keyframes shake-animation {
  0% { transform: translate(0, 0)}
  25% { transform: translate(5px, -5px)}
  50% { transform: translate(-5px, 5px)}
  75% { transform: translate(5px, 5px)}
  100% { transform: translate(0, 0)}
}

.shake-effect {
  animation: shake-animation 0.2s ease-in-out
}

.animate-flash {
  display: block;
  animation: flash-animation 0.2s ease-in-out 2;
}

