body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

canvas {
  background: #000;
  border: 2px solid white;
}

#gameContainer {
  position: relative;
  display: inline-block;
}

.controls {
  margin-top: 10px;
}

.control-btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px 5px;
  -webkit-user-select: none;
  user-select: none;
}

#scoreBoard {
  position: absolute;
  top: -30px;
  right: 10px;
  margin: 8px;
}

#livesBoard {
  position: absolute;
  top: -30px;
  left: 10px;
  display: flex;
  gap: 5px;
  margin: 8px;
  align-items: center;
}

.heart-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.damage-flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.4);
  pointer-events: none;
  z-index: 10;
  display: none;
}

@keyframes flash-animation {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

.animate-flash {
  display: block;
  animation: flash-animation 0.2s ease-in-out 2;
}

