body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

canvas {
  background: #000;
  border: 2px solid white;
}

#gameContainer {
  position: relative;
  display: inline-block;
}

.controls {
  margin-top: 10px;
}

.control-btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0px 5px;
  -webkit-user-select: none;
  user-select: none;
}

#scoreBoard {
  position: absolute;
  top: -30px;
  right: 10px;
  margin: 8px;
}

#livesBoard {
  position: absolute;
  top: -30px;
  left: 10px;
  display: flex;
  gap: 5px;
  margin: 8px;
}